3. 해당 데이터에서 Outcome을 삭제하고 BMI를 예측하는 머신러닝 5가지 회귀를 수행하라.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import seaborn as sns

In [2]:
import tensorflow as tf
from tensorflow import keras

df = pd.read_csv("C:/dataset/diabetes.csv")

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
X=df.drop('Outcome',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [5]:
X=X.drop('BMI',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,0.627,50
1,1,85,66,29,0,0.351,31
2,8,183,64,0,0,0.672,32
3,1,89,66,23,94,0.167,21
4,0,137,40,35,168,2.288,33

In [6]:
y=df['BMI']
y.value_counts()

32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 248, dtype: int64

In [7]:
y.head()

0    33.6
1    26.6
2    23.3
3    28.1
4    43.1
Name: BMI, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)

In [9]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(576, 7) (576,)
(192, 7) (192,)

In [10]:
from sklearn.metrics import mean_squared_error, r2_score

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)
ly_preds = model.predict(X_test)

print('평균제곱근오차', mean_squared_error(ly_preds, y_test))

def mse_np(actual, predicted):
    return np.mean((np.array(actual) - np.array(predicted)) ** 2)

print('평균제곱근오차', mse_np(ly_preds, y_test))

def mse(actual, predicted):
    sum_square_error = sum((a - p) ** 2 for a, p in zip(actual, predicted))
    mean_square_error = sum_square_error / len(actual)
    return mean_square_error

print('평균제곱근오차', mse(ly_preds, y_test))

평균제곱근오차 52.23558099742442
평균제곱근오차 52.23558099742442
평균제곱근오차 52.23558099742443

In [12]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

# SVR (회귀) 모델 사용
reg_svr = SVR()
reg_svr.fit(X_train, y_train)

pred_svr = reg_svr.predict(X_test)

print("\n--- SVR Regressor ---")
print("MSE:", mean_squared_error(y_test, pred_svr))
print("Squared R Score:", r2_score(y_test, pred_svr))

--- SVR Regressor ---
MSE: 49.81525695797071
Squared R Score: 0.14082095512530235

In [13]:
from sklearn.linear_model import LinearRegression
# Build a logistic regression classifier and predict

reg_lr = LinearRegression()
reg_lr.fit(X_train, y_train)

pred_lr = reg_lr.predict(X_test)

print("\n--- Linear Regression Regressor ---")
print("MSE:", mean_squared_error(y_test, pred_lr))
print("Squared R Score:", r2_score(y_test, pred_lr))

--- Linear Regression Regressor ---
MSE: 52.23558099742442
Squared R Score: 0.0990768826565086

In [14]:
from sklearn.ensemble import RandomForestRegressor
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_reg = RandomForestRegressor(random_state=0)
rf_reg.fit(X_train, y_train)
pred_rf = rf_reg.predict(X_test)
print("MSE:", mean_squared_error(y_test, pred_rf))
print("Squared R Score:", r2_score(y_test, pred_rf))

--- Radom Forest ---
MSE: 45.315124843750006
Squared R Score: 0.2184361165801194

In [15]:
# Build a decision tree classifier and predict
from sklearn.tree import DecisionTreeRegressor
reg_dt = DecisionTreeRegressor(random_state=0)
reg_dt.fit(X_train, y_train)

pred_dt = reg_dt.predict(X_test)

print ("\n--- Decision Tree Regressor ---")
print("MSE:", mean_squared_error(y_test, pred_dt))
print("Squared R Score:", r2_score(y_test, pred_dt))

--- Decision Tree Regressor ---
MSE: 78.40718749999999
Squared R Score: -0.35231285717141003

In [16]:
from sklearn.neural_network import MLPRegressor
reg_nn = MLPRegressor(random_state=0)
reg_nn.fit(X_train, y_train)

pred_nn = reg_nn.predict(X_test)

print ("\n--- Neural Network Regressor ---")
print("MSE:", mean_squared_error(y_test, pred_nn))
print("Squared R Score:", r2_score(y_test, pred_nn))

--- Neural Network Regressor ---
MSE: 53.44666811005116
Squared R Score: 0.07818889106058835